footer {
  width: 100%;
  height: 100px;
  background-color: #bc1616;
  color: #fff;
  text-align: center;
}

.footer-nav {
  list-style: none;
  padding-top: 15px;
}

.footer-nav li {
  display: inline;
}

.footer-nav li a {
  text-decoration: none;
  color: #fff;
}
