.site-header {
  width: 100%;
  padding: 30px 4% 30px;
  background-color: #bc1616;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 4;
}

.site-title {
  margin: 0;
  padding: 0;
}

.main-nav {
  margin: 0 0 0 auto;
}

.site-title-link, .nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  color: #fff;
  align-items: center;
}

.nav-item {
  font-size: 14px;
  padding: 5px 8px;
}

.nav-item:hover {
  background-color: #991111;
}

.dropdown button {
  background-color: #bc1616;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.dropdown a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #bc1616;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.dropdown button:hover {
  background-color: #991111;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  background-color: #991111;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sp-nav ul {
  display: none;
  list-style: none;
}

@media screen and (max-width: 640px) {
  .nav-list {
    display: none;
  }

  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }

  /*スマホメニュー*/
  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp-nav li {
    margin: 0;
    padding: 0;
  }

  .sp-nav li span {
    font-size: 15px;
  }

  .sp-nav li a,
  .sp-nav li span {
    display: block;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
  }

  /*-閉じるアイコンー*/
  .sp-nav .close {
    position: relative;
    padding-left: 20px;
  }

  .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }

  .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
  }

  .toggle {
    transform: translateY(0);
    opacity: 1;
  }
}
