<div class="search-form-container">
  <%= label_tag :stadium, "あなたが観戦したスタジアムを入力してください", class: "search-form-label" %>
  <%= text_field_tag :stadium, nil, id: 'address', placeholder: "例: 国立競技場", class: "search-form-input" %>
  <%= button_tag "入力", type: "button", class: "search-form-button mt-3" %>
</div>
