// 新規投稿ページ
.search-form-container {
  text-align: center;
  margin: 20px auto;
}

.search-form-label {
  display: block;
  margin: 30px 10px;
  font-size: 20px;
}

.search-form-input {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.search-form-button {
  border: none;
  padding: 8px 20px;
  background-color: #fff;
  color: #4CAF50;
  border: 1.5px solid #4CAF50;
  border-radius: 30px;
  margin-left: 10px;
  &:hover {
    background-color: #4CAF50;
    color: #fff;
  }
}

.background-image {
  background-image: url(image_path("soccer-field.avif"));
  background-position: center;
  padding: 20px;
}

.breadcrumbs, .breadcrumb-link, .breadcrumb-text {
  color: white;
  font-size: 20px;
}

.form-container {
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  font-weight: bold;
  margin-bottom: 10px;
}

.form {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin: 10px auto;
}

#map {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid #ddd;
  margin: 20px auto;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.form-button {
  background-color: #fff;
  color: #4CAF50;
  padding: 10px 20px;
  border: 1.5px solid #4CAF50;
  border-radius: 30px;
  text-decoration: none;
  &:hover {
    background-color: #4CAF50;
    color: #fff;
  }
}

.links-container {
  display: flex;
  gap: 25px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-label {
  width: 150px;
  margin-right: 10px;
}

.form-input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-actions {
  margin-top: 20px;
}

.submit-button,
.reset-link {
  margin: 20px;
}

#error_explanation {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f5c6cb;
      border-radius: 4px;
    }
  }
}

#region-buttons, #prefecture-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin: 20px auto;
}

.region-button, .prefecture-button {
  background-color: #fff;
  color: #4CAF50;
  padding: 10px 20px;
  border: 1.5px solid #4CAF50;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  &:hover {
    background-color: #4CAF50;
    color: #fff;
  }
}

.prefecture-button {
  background-color: #4CAF50;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #4CAF50;
  }
}
